<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Password Change Notification</h1>

  <p>Dear <%= @user.name %>,</p>

  <p>This is to inform you that your password for your account has been successfully changed. </p>

  <p>
    For security reasons, we recommend that you do not share your password with anyone and regularly update it to enhance the safety of your account.
  </p>

  <p>
    If you have any other concerns or questions, feel free to reach out to our support team.
  </p>

  <p>Best regards,<br>
    Adversal
  </p>
</body>
</html>