.account-container {
  display: flex;
  flex-direction: row;
}

.account-content {
  flex: 1%;
}

.account-sidebar {
  width: 18%;
}

@media only screen and (max-width: 1000px) {
  .account-container {
    flex-direction: column;
  }
  .account-content {
    width: 100%;
  }
  .account-sidebar {
    width: 100%;
  }
}
