.catalog-button {
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-end;
  margin-right: 30px;
}
.catalog-elements {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  justify-content: space-around;
}
