.catalog-topbar {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px 10px 30px;
}

.catalog-toggle > .MuiToggleButton-root {
  width: 108px; /* Adjust the width as needed */
}

.catalog-elements {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 340px);
  justify-content: space-around;
}

@media only screen and (max-width: 710px) {
  .catalog-topbar {
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    gap: 20px;
  }
  .catalog-toggle {
    justify-content: center;
  }
  .catalog-button {
    margin: auto;
    width: 320px;
  }
}
