.personal-orders-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;

}

.personal-orders-card{
    min-height: 500px;
}

.personal-orders-list{
    padding: 0
}

.personal-orders-item{
    display: flex;
    justify-content: space-between;
}

.personal-orders-number{
    width: 15%;
}

.personal-orders-date{
    width: 10%;
}


.personal-orders-price{
    width: 10%;
}

.personal-orders-title{
    width: 30%;
}

.personal-orders-status{
    width: 10%;
}

@media (max-width: 1000px) {
    .personal-orders-date,
    .personal-orders-title,
    .personal-orders-status {
        display: none;
}
    .personal-orders-container {
        width: 90%;
    }
    .personal-orders-price{
        width: 20%;
    }
}