.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

@media only screen and (max-width: 600px) {
  .dialog-actions {
    display: flex;
    flex-direction: column;
  }
  .dialog-actions > * {
    width: 100%;
  }
}
