.profile-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-top: 10px;
}

.profile-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.profile-list-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.profile-list-element-text {
  width: 100%;
}

.profile-list-element-icon {
  height: 40px;
}

.profile-list-element-button {
  min-width: 200px;
  height: 40px;
}

.profile-dialog-buttons {
  justify-content: space-between;
}

.profile-dialog-button {
  margin: 2px;
}

@media only screen and (max-width: 1000px) {
  .profile-container {
    margin: 25px;
  }
}

@media only screen and (max-width: 710px) {
  .profile-container {
    align-items: center;
  }
  .profile-list {
    width: 320px;
  }
}
