.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 100px 50px 100px;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 25px;
}

.profile-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.profile-list-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.profile-list-element-text {
  width: 100%;
}

.profile-list-element-icon {
  height: 40px;
}

@media only screen and (max-width: 1000px) {
  .profile-container {
    margin: 50px 50px 50px 50px;
  }
}

@media only screen and (max-width: 600px) {
  .profile-container {
    margin: 25px;
  }
}
