.login-reset-card{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    margin-top: 100px;
    min-height: 260px;
}

.login-reset-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

.login-reset-form-element{
    margin: 10px;
    width: 80%;
}

.login-reset-form-link{
    margin: 5px;
}

.login-reset-form-button{
    margin: 10px
}
