.navbar-top {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.navbar-top-icon {
  width: 60px;
  height: 60px;
}

.navbar-bottom {
  padding-top: 10px;
  padding-left: 1vw;
  padding-right: 1vw;
}

.navbar-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.navbar-bottom-search {
  width: 20%; /* Ensure search bar takes up full width */
  padding: 10px;
}

.navbar-bottom-toggle-group {
  flex: 1;
  display: flex;
  justify-content: space-evenly; /* Spread ToggleButtons evenly */
  flex-wrap: wrap;
}

.navbar-bottom-toggle-button {
  flex: 1 20%; /* Adjust ToggleButton width */
}

@media only screen and (max-width: 1000px) {
  .navbar-bottom {
    flex-direction: column; /* Stacked layout */
  }
  .navbar-bottom-search {
    width: 100%;
    padding: 10px 0px 10px 0px;
  }
}
@media only screen and (max-width: 400px) {
  .navbar-bottom {
    flex-direction: column; /* Stacked layout */
  }
  .navbar-bottom-search {
    width: 100%;
    padding: 10px 0px 10px 0px;
  }
}
