.product-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  min-width: 400px;
  margin-top: 10px;
}

.product-container:hover {
  cursor: pointer;
  background-color: white;
}

.product-title {
  display: flex;
  flex: 1;
}
.product-image {
  width: 20%;
  min-width: 150px;
  align-self: center;
}

.product-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 10px 0px 10px;
}

.product-footer {
  display: flex;
  flex: 0 1;
  justify-content: space-between;
  align-items: center;
}
.product-footer-button {
  width: 200px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1400px) {
  .product-image {
    width: 25%;
  }
  .product-details {
    padding: 6px 6px 0px 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .product-image {
    width: 30%;
  }
  .product-details {
    padding: 4px 4px 0px 10px;
  }
}

@media only screen and (max-width: 700px) {
  .product-image {
    width: 40%;
  }
  .product-footer-button {
    width: auto;
  }
  .product-details {
    padding: 2px 2px 0px 10px;
  }
}
