.product-container{
    display: flex;
    flex-direction: column;
}

.product-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.product-description{
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.product-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 5px;
}
