.sidebar-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.sidebar-toggle-group {
  display: flex;
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .sidebar-toggle-group {
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .sidebar-toggle-button {
    flex: 1 33%;
    color: black;
  }
}
