.sidebar-toggle-group {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.sidebar-toggle-button {
  flex: 0 1 auto; /* Allow the button to take up as much space as its content */
  border: 1px solid #ccc;
}

.sidebar-account .sidebar-toggle-button {
  flex: 1 1 20%; /* Each button takes up 25% of the container width */
}

@media only screen and (max-width: 500px) {
  .sidebar-account .sidebar-toggle-button {
    flex: 1 1 40%; /* Each button takes up 25% of the container width */
  }
}
