.product-details-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}

.product-details-images {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: 40%; /* Ensures that the images section takes up 50% of the container */
  border: 1px solid #ccc;
  padding: 10px;
  padding-bottom: 0px;
}

.product-details-content {
  flex: 1;
  flex-basis: 55%; /* Ensures that the content section takes up 50% of the container */
  border: 1px solid #ccc;
}

.large-image-container {
  position: relative;
  width: 100%;
}

.large-image {
  width: 100%;
  height: auto;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10; /* Add this line */
}
.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.small-images-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.small-image {
  cursor: pointer;
  width: calc(33% - 6px); /* To ensure 3 images per row with 10px gap */
  border: 2px solid transparent;
}
.small-image:hover {
  border-color: #000;
}

@media only screen and (max-width: 1000px) {
  .product-details-container {
    flex-direction: column;
    align-items: center;
  }

  .small-images-list {
    display: none;
  }
  .product-details-images {
    width: 60%;
  }
  .product-details-content {
    width: 60%;
  }
}

@media only screen and (max-width: 710px) {
  .product-details-images {
    width: 90%;
  }
  .product-details-content {
    width: 90%;
  }
}
