.product-details-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}
.product-details-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 10px;
  gap: 10px;
  border: 1px solid #ccc;
}

.product-details-image {
  position: relative;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 20px;
  cursor: pointer;
  z-index: 10;
}
.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.image-overlay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;
}

.product-details-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.product-details-right > :nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-details-right > :nth-child(3) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.seller-name {
  margin-left: 5px;
}

.seller-image {
  min-width: 140px;
}

.seller-link {
  margin-left: 8px;
  font-size: 0.75rem; /* Smaller font size */
}

@media only screen and (max-width: 700px) {
  .product-details-container {
    flex-direction: column;
    align-items: center;
  }
  .product-details-images {
    width: 90%;
  }
}
