.product-element-container {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 340px;
  padding: 10px;
}

.product-element-container:hover {
  cursor: pointer;
  background-color: white;
}

.product-element-title {
  display: flex;
  flex: 1;
}

.product-element-image {
  width: 320px;
  min-height: 240px;
  max-height: 240px;
  margin-bottom: 5px;
}

.product-element-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.product-element-footer-icon {
  margin-top: 10px;
}
.product-element-footer-button {
  width: 200px;
}
