.products {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.products-elements {
  flex: 1;
}

.pagination-controls {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  justify-content: flex-end;
}
