#root {
  width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fdfdff;
  color: #000000 !important; /* Ensure text color */
}
.app-content,
.app-navbar {
  padding-left: 20vw;
  padding-right: 20vw;
}
.app-content {
  margin-top: 20px;
}

@media only screen and (max-width: 1800px) {
  .app-content,
  .app-navbar {
    padding-left: 14vw;
    padding-right: 14vw;
  }
}

@media only screen and (max-width: 1400px) {
  .app-content,
  .app-navbar {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media only screen and (max-width: 1400px) {
  .app-content,
  .app-navbar {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}

@media only screen and (max-width: 1000px) {
  .app-content,
  .app-navbar {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
