#root {
  width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  background-color: whitesmoke;
}
.app-content,
.app-navbar {
  padding-left: 12vw;
  padding-right: 12vw;
}

@media only screen and (max-width: 1800px) {
  .app-content,
  .app-navbar {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}

@media only screen and (max-width: 1600px) {
  .app-content,
  .app-navbar {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
