<p>Hello <%= @resource.email %>!</p>

<p>Thank you for using Adversal. To change your password, please click the link below:</p>

<% if Rails.env.production? %>
  <% reset_password_link = "http://adversal.it/password/reset?reset_token=#{@token}" %>
<% else %>
  <% reset_password_link = "http://localhost:5173/password/reset?reset_token=#{@token}" %>
<% end %>

<p><%= link_to 'Change my password', reset_password_link %></p>

<p>If you didn't request this password change, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>Best regards,<br>
   The Adversal Team</p>