.cart-container{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    min-height: 500px;
}

.cart-button{
    margin: 20px;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
}

.cart-price{
    align-self: flex-end;
    margin: 20px 20px 0px 20px;
}