.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 460px);
    grid-gap: 1rem;
    justify-content: space-around;

}
.product-container{
    display: flex;
    width: 440px;
    height: 190px;
    margin: 10px
}
.product-container:hover{
    cursor: pointer;
    background-color: whitesmoke;
}