.product-card{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin: 20px 0px 40px 0px;
    padding: 50px
}
.product-title{
    display: flex;
    justify-self: center;
    align-self: center;
    margin-bottom: 20px
}
.product-price-seller{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 20px
}

.product-image-container{
    display: flex;
    height: 600px;
    margin: 20px 0px 20px 0px;
    justify-content: center;
    align-items: center;

}

.product-image-list{
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.product-description{
    margin-bottom: 20px;
}

.product-button{
    width: 30%;
}
